.main {
    width: 100%;
    height: auto;
    background-color: #14142d;
    padding: 30px 30px 30px 30px;
    color: #ffffff;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.container {
    display: flex;
    justify-content: space-around;
}
.column {
    display: flex;
    flex-direction: column;
}
.header_column {
    font-weight: bold;
    margin-bottom: 10px;
}
.text {
    color: white;
    flex-shrink: 0;
    text-decoration: underline;
}
.text:hover {
    color: rgba(255, 255, 255, 0.7);
    flex-shrink: 0;
    text-decoration: underline;
}
.copyright {
    color: #bebebe;
    text-align: justify;
}