.site-layout-content {
    min-height: 280px;
    padding: 24px;
}
.logo {
    float: left;
    height: 64px;
    width: 64px;
}
.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
