.site-layout-content {
    min-height: 280px;
    padding: 24px;
}
.logo {
    float: left;
    height: 64px;
    width: 64px;
}
.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
.user{
    max-width: 200px;
    justify-self: flex-end;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.leftCont{
    width: 600px;
}
.but{
    margin-left: 15px;
    vertical-align: middle;
}
.main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    min-height: 100vh;
}